<%- layout('layouts/main.ejs') %>
<form action="/registrar" method="POST">
    <input type="email" name="email" placeholder="Introduce tu correo electronico">
    <input type="password" name="password">
    <button type="submit">Registrar</button>
</form>